<div class="list-container">
    <div class="search-container">
        <mat-form-field class="list-form-field" appearance="fill">
            <input matInput type="search" placeholder="Buscar..." [(ngModel)]="busqueda" (ngModelChange)="getWeathers()" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
              <mat-option *ngFor="let weather of filteredWeathers" [value]="weather">
                {{ weather.name }}, {{ weather.region }}, {{ weather.country}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</div>
